/*
   Tachyons
   COLOR VARIABLES
   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility
*/

:root {
  --black: #000;
  --white: #fff;
  --gray-50: #f0f0f0;
  --black-50: rgba(0, 0, 0, 0.03);
  --black-100: rgba(0, 0, 0, 0.07);
  --black-660: rgba(0, 0, 0, 0.667);

  --transparent: transparent;

  --primary: #094EFD;
  --primary-600: #95DCFD;

  // functional colors
  --bg: var(--white);
  --title: var(--black);
  --text: var(--black);
  --muted: var(--black-660);
  --link: var(--black);
  --link-hover: var(--muted);
  --border: var(--black-100);

  --error: #D80228;
  --success: var(--primary-600);
  --warning: #FFA34E;
}

// color utility classes
.ignt-title {
  color: var(--title);
}

.ignt-text {
  color: var(--text);
}

.ignt-muted {
  color: var(--muted);
}

.ignt-border {
  color: var(--border);
}

.ignt-bg {
  color: var(--bg);
}

.ignt-primary {
  color: var(--primary);
}

.ignt-error {
  color: var(--error);
}

.ignt-success {
  color: var(--success);
}
